.partnership {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #111827, #0f172a);
}
.windows-title{
    color: white;
    font-size: 2.5rem;
}
.windows-description{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-top .swiper-slide {
  transition: 0.4s ease;
  opacity: 0.5;
  transform: scale(0.9);
}

.gallery-top .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
}

.swiper-slide-box img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 12px;

}

.swiper-box {
  margin-top: 15px;
  opacity: 0;
  transition: 0.4s ease;
  color: white;
}

.swiper-slide-active .swiper-box {
  opacity: 1;
}

/* Navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.swiper-pagination-bullet-active {
  background: black;
}
